@font-face {
    font-family: OpenSans;
    src: url(./resources/opensans.ttf);
}

:root {
    --brand-color: #db53fb;
    --background-color: #2a2a2a;
    --select-color: #181818;
    --nav-color: #1f1f1f;
    --text-color: #c8c8c8;
}

a {
    color: var(--text-color);
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-bottom: 1.5cm;
}

.nav-element--select {
    background-color: var(--select-color);
}

.nav-element:hover {
     background: var(--nav-color);
     transition: background-color .1s;
 }

.nav-element {
    font-size: 0.5cm;
    padding: 0.2cm;
    text-decoration: none;
    text-decoration-color: white;
    text-align: center;
    border: var(--select-color) 0.05cm solid;
    border-radius: 10px;
}

nav {
    height: 1.5cm;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--nav-color);
}

* {
    font-family: OpenSans, sans-serif;
}

header {
    width: 100%;
}

.text-motto {
    font-size: 1.1cm;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    background-color: var(--nav-color);
    padding: 0.1cm;
}

.logo {
    height: 2cm;
}

.text-large {
    font-size: 0.6cm;
    text-align: center;
}

.text-medium {
    font-size: 0.5cm;
}

.text-small {
    font-size: 0.4cm;
}

.text-xsmall {
    font-size: 0.3cm;
}

.diagonal-block {
    transform: skewY(-3deg);
    margin: 0.75cm 0;
}

.diagonal-block-content {
    transform: skewY(3deg);
    padding: 0.5cm;
}

.brand-background {
    background-color: var(--brand-color);
    color: var(--background-color);
}

.table-big {
    font-size: 0.5cm;
    margin-bottom: 20px;
}

.table-big caption {
    font-size: 0.8cm;
    font-weight: bold;
}

.table-big td {
    text-align: center;
}

.table-big, .table-big th, .table-big td {
    border: var(--select-color) solid .5vw;
}

footer {
    background-color: var(--nav-color);
}

.footer-content {
    padding: 2vw;
    color: var(--text-color);
}

#creator {
    text-align: right;
    padding: 0.5cm;
}

.collapsable {
    margin: 2vh 2vw;
}

.collapsable-button {
    background-color: var(--brand-color);
    color: var(--nav-color);
    cursor: pointer;
    padding: 2%;
}

.collapsable-content {
    max-height: 0;
    overflow: hidden;
    background-color: var(--nav-color);
    transition: max-height .3s ease-in-out;
}

.collapsable-button-active {
    background-color: #9f3bb8;
}

.collapsable-button-inactive::after {
    content: "+";
    float: right;
    margin-right: 3vw;
}

.collapsable-button-active::after {
    content: "-";
    float: right;
    margin-right: 3vw;
}

table {
    border-collapse: collapse;
}